<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the phone&apos;s camera to read QR codes</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothicA1-ExtraLight.ttf</string>
		<string>GothicA1-Regular.ttf</string>
		<string>GothicA1-Light.ttf</string>
		<string>GothicA1-Thin.ttf</string>
		<string>GothicA1-Bold.ttf</string>
		<string>GothicA1-Medium.ttf</string>
		<string>GothicA1-Black.ttf</string>
		<string>GothicA1-SemiBold.ttf</string>
		<string>NothingYouCouldDo-Regular.ttf</string>
		<string>NaokoAA_Black.otf</string>
		<string>NaokoAA_Light_Italic.otf</string>
		<string>NaokoAA_Light.otf</string>
		<string>NaokoAA_Medium_Italic.otf</string>
		<string>NaokoAA_Medium.otf</string>
		<string>NaokoAA_Regular_Italic.otf</string>
		<string>NaokoAA_Regular.otf</string>
		<string>NaokoAA_Semilight_Italic.otf</string>
		<string>NaokoAA_Semilight.otf</string>
		<string>NaokoAA-Black-Italic.otf</string>
		<string>NaokoAA-Bold-Italic.otf</string>
		<string>NaokoAA-Bold.otf</string>
		<string>NaokoAA-Extrabold-Italic.otf</string>
		<string>NaokoAA-Extrabold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
