<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NaokoAA-Black.otf</string>
		<string>NaokoAA-Light-Italic.otf</string>
		<string>NaokoAA-Light.otf</string>
		<string>NaokoAA-Medium-Italic.otf</string>
		<string>NaokoAA-Medium.otf</string>
		<string>NaokoAA-Regular-Italic.otf</string>
		<string>NaokoAA-Regular.otf</string>
		<string>NaokoAA-Semilight-Italic.otf</string>
		<string>NaokoAA-Semilight.otf</string>
		<string>NaokoAA-BlackItalic.otf</string>
		<string>NaokoAA-Bold-Italic.otf</string>
		<string>NaokoAA-Bold.otf</string>
		<string>NaokoAA-Extrabold-Italic.otf</string>
		<string>NaokoAA-Extrabold.otf</string>
		<string>OCR-A Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
